<section class="weather-list flex">
    <div *ngFor="let weatherDay of weather.DailyForecasts" class="weather flex column align-center">
        <img class="weather-image" src="../../../assets//img/sun.png" alt="">
        <div class="weather-information flex column align-center">

            <h2 class="weather-date">{{weatherDay.Date}}</h2>

            <!-- <h3 class="title">Day</h3> -->
            <h4 class="weather-status">{{weatherDay.Day.IconPhrase}}</h4>
            <h4 class="weather-status">{{weatherDay.Temperature.Minimum.Value}}<span
                    class="temperature-unit">{{weatherDay.Temperature.Minimum.Unit}}</span></h4>
        </div>

    </div>
</section>